name: PackageLLVM

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      version:
        description: LLVM Version
        required: true


jobs:
  build-linux:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        target: [ x86_64, arm, aarch64 ]
    steps:
      - uses: actions/checkout@v2
      - name: install requirements
        run: pip3 install -r requirements.txt
      - name: Uninstall homebrew
        run: NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/uninstall.sh)"
      - name: install cross-compilers
        run: sudo apt-get update && sudo apt-get install g++-arm-linux-gnueabihf gcc-arm-linux-gnueabihf g++-aarch64-linux-gnu gcc-aarch64-linux-gnu
      - name: Package
        env:
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./package_llvm.py --target-architecture ${{ matrix.target }} ${{ github.event.inputs.version }}

  build-macos:
    runs-on: macos-10.15
    strategy:
      fail-fast: false
      matrix:
        target: [ x86_64, arm64 ]
    steps:
      - uses: actions/checkout@v2
      - name: install requirements
        run: pip3 install -r requirements.txt
      - name: Package
        env:
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./package_llvm.py --target-architecture ${{ matrix.target }} ${{ github.event.inputs.version }}
